.Grid {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    margin: 20px auto;
    border: 2px solid rgb(0, 132, 255);
    width: 360px;
}

.Grid-item {
    border: 1px solid rgb(0, 132, 255);
    border-collapse: collapse;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}