.PuzzleGrid {
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    margin: 20px auto;
    border: 2px solid rgb(0, 132, 255);
    width: 360px;
}
